%h2
  = t "hr.holiday_modifiers.title"
  - unless dirty?
    = " ##{id}"
%form
  - if errors
    #errorExplanation
      %ul
        - errors.each do |key, error|
          %li= key + " " + error[0]
  .box.tabular
    %p
      %label= t "hr.holiday_modifiers.year"
      %input{type:"input", name:"year", value: self.year}
    %p
      %label= t "hr.holiday_modifiers.value"
      %input(type="text" name="value" style="width: 99%" value="#{self.value}")
    %p
      %label= t "hr.holiday_modifiers.description"
      %span
        %textarea.wiki-edit(name="description")
          = self.description
  - if self.dirty?
    %button(name="save")= t "hr.labels.create"
  - else
    %button(name="save")= t "hr.labels.save"
