%h2
  = t "hr.holiday_request.title"
  - unless dirty?
    = " ##{self.id}"
%form
  - if errors
    #errorExplanation
      %ul
        - errors.each do |key, error|
          %li= key + " " + error[0]
  .box.tabular
    %p
      %label= t "hr.holiday_request.user"
      %select{name: "hr_employee_profile_id", disabled: !CurrentUser[:admin]}
        - data[:profiles].each do |profile|
          - if dirty?
            - if CurrentUser[:id] == profile.id
              %option{value: profile.id, selected: true}= profile.name
            - else
              %option{value: profile.id}= profile.name
          - else
            - if hr_employee_profile_id == profile.id
              %option{value: profile.id, selected: true}= profile.name
            - else
              %option{value: profile.id}= profile.name
    %p
      %label= t "hr.holiday_request.start_date"
      %input{type:"input", name:"start_date", value: start_date}
    %p
      %label= t "hr.holiday_request.end_date"
      %input{type:"input", name:"end_date", value: end_date, disabled: half_day}
    %p
      %label= t "hr.holiday_request.half_day"
      %input{type: "checkbox", checked: half_day, name: "half_day"}
    %p
      %label= t "hr.holiday_request.status"
      - if dirty?
        %select(name="status")
          %option(value="planned")= t("hr.holiday_request.statuses.planned")
          %option(value="requested")= t("hr.holiday_request.statuses.requested")
      - else
        %select(disabled)
          %option= t "hr.holiday_request.statuses.#{status}"
    %p
      %label= t "hr.holiday_request.request_type"
      %select(name="request_type")
        %option(value="holiday")= t("hr.holiday_request.holiday")
        %option(value="sick_leave")= t("hr.holiday_request.sick_leave")
    %p
      %label= t "hr.holiday_request.description"
      %textarea.wiki-edit(name="description")
        = description
  - if dirty?
    %button(name="save")= t "hr.labels.create"
  - else
    %button(name="save")= t "hr.labels.save"
