%h2
  = t "hr.holiday_request.title"
  - unless self.dirty?
    = " ##{self.id}"
%form
  - if self.errors
    #errorExplanation
      %ul
        - self.errors.each do |key, error|
          %li= key + " " + error[0]
  .box.tabular
    %p
      %label= t "hr.holiday_request.user"
      %select{name: "hr_employee_profile_id", disabled: !CurrentUser[:admin]}
        - self.data[:profiles].each do |profile|
          %option{value: profile.id}= profile.name
    %p
      %label= t "hr.holiday_request.start_date"
      %input(type="date" name="start_date" value="#{self.start_date}")
    %p
      %label= t "hr.holiday_request.end_date"
      %input{type:"date", name:"end_date", value: self.end_date, disabled: self.half_day}
    %p
      %label= t "hr.holiday_request.half_day"
      %input{type: "checkbox", checked: self.half_day, name: "half_day"}
    %p
      %label= t "hr.holiday_request.status"
      %select(name="status")
        %option(value="planned")= t("hr.holiday_request.statuses.planned")
        %option(value="requested")= t("hr.holiday_request.statuses.requested")
        %option(value="approved")= t("hr.holiday_request.statuses.approved")
        %option(value="withdrawn")= t("hr.holiday_request.statuses.withdrawn")
        %option(value="rejected")= t("hr.holiday_request.statuses.rejected")
    %p
      %label= t "hr.holiday_request.type"
      %select(name="type")
        %option(value="holiday")= t("hr.holiday_request.holiday")
        %option(value="sick_leave")= t("hr.holiday_request.sick_leave")
    %p
      %label= t "hr.holiday_request.description"
      %textarea.wiki-edit(name="description")
        = self.description
  - if self.dirty?
    %button(name="save")= t "hr.labels.create"
  - else
    %button(name="save")= t "hr.labels.save"
