%table.list
  %thead
    %tr
      %th= t('hr.holiday_request.start_date')
      %th= t('hr.holiday_request.end_date')
      %th= t('hr.holiday_request.days')
      %th= t('hr.holiday_request.status')
      %th= t('hr.holiday_request.description')
      %th= t('hr.labels.actions')
  %tbody
    - group_by(&:user).each do |user,requests|
      %tr
        %td(colspan=6)
          = user
          = "(#{requests[0].supervisor})"
      - requests.each do |request|
        %tr
          %td
            %a{href: "#holiday_requests/#{request.id}"}
              = request.start_date
          %td= request.end_date
          %td= request.days
          %td= request.status
          %td= request.description
          %td
            - request.available_statuses.each do |status|
              %a{action: status, id: request.id, style: "cursor: pointer"}= t("hr.holiday_request.transitions.#{status}")
