%h2
  = t "hr.employee_profile.title"
  = " - #{self.name}"
%form
  .box.tabular
    %p
      %label= t "hr.employee_profile.supervisor"
      %select{name: "supervisor_id", disabled: !CurrentUser[:admin]}
        - self.data[:supervisors].each do |user|
          - if self.supervisor_id == user[:id]
            %option{value: user[:id], selected: true}= user[:firstname] + " " + user[:lastname]
          - else
            %option{value: user[:id]}= user[:firstname] + " " + user[:lastname]
    %p
      %label= t "hr.employee_profile.employment_date"
      %input{type:"date", name:"employment_date", value: self.employment_date}
    %p
      %label= t "hr.employee_profile.birth_date"
      %input{type:"date", name:"birth_date", value: self.birth_date}
    %p
      %label= t "hr.employee_profile.gender"
      %select(name="gender")
        %option(value="male")= t("hr.employee_profile.male")
        %option(value="female")= t("hr.employee_profile.female")
  %button= t("hr.labels.save")
