%h2
  = t "hr.employee_profile.title"
  = " ##{self.id}"
%form
  .box.tabular
    %p
      %label= t "hr.employee_profile.administrator"
      %input{type: "checkbox", checked: self.administrator, name: 'administrator'}
  %button= t("hr.labels.save")
