%h2= t "hr.main_menu.employee_profiles"
%table.list
  %thead
    %tr
      %th= t "hr.employee_profile.name"
      %th= t "hr.employee_profile.e_mail"
      %th= t "hr.employee_profile.date_of_employment"
  %tbody
    - self[:profiles].each do |profile|
      %tr
        %td
          %a(href="#profiles/#{profile.id}")
            = profile.name
        %td= profile.user[:mail]
        %td= profile.employment_date
