.contextual
  %a.icon.icon-edit(href="#profiles/#{self.id}/edit")= t("hr.labels.update")
%h2
  = t "hr.employee_profile.title"
  = " ##{self.id}"
%div
  %h3(href="/users/#{self.user_id}")
    = self.name
    - if self.administrator
      = "( #{t('hr.employee_profile.administrator')} )"
  %h4= t "hr.holiday_modifiers.title"
  %table.list
    %thead
      %th= t("hr.holiday_modifiers.year")
      %th= t("hr.holiday_modifiers.value")
      %th= t("hr.holiday_modifiers.description")
      %th= t("hr.labels.actions")
    %tbody
      - self.holiday_modifiers.each do |modifier|
        %tr
          %td(width="10%" style="text-align: center")= modifier.year
          %td(width="10%" style="text-align: center")= modifier.value
          %td= modifier.description
          %td(width="10%" style="text-align: center")
            %a.icon.icon-edit{href:"#profiles/#{self.id}/modifiers/#{modifier.id}"}
              = t "hr.labels.edit"
            %a.icon.icon-del{href:"#profiles/#{self.id}/modifiers/#{modifier.id}/delete"}
              = t "hr.labels.delete"
  .box.tabular
    %p
      %label= t "hr.holiday_modifiers.value"
      %input(type="text" name="value" style="width: 99%")
    %p
      %label= t "hr.holiday_modifiers.description"
      %span
        %textarea.wiki-edit(name="description")
  %button(name="add_modifier")
    =t "hr.labels.add"
