.contextual
  %a.icon.icon-edit(href="#profiles/#{self.id}/edit")= t("hr.labels.update")
%h2
  = t "hr.employee_profile.title"
  = " - #{self.name}"
  - if self.administrator
    = "(#{t('hr.employee_profile.administrator')})"
%div
  %h3
  %h4= t "hr.holiday_modifiers.title"
  %table.list
    %thead
      %th= t("hr.holiday_modifiers.year")
      %th= t("hr.holiday_modifiers.value")
      %th= t("hr.holiday_modifiers.description")
      %th= t("hr.labels.actions")
    %tbody
      - self.holiday_modifiers.each do |modifier|
        %tr
          %td(width="10%" style="text-align: center")= modifier.year
          %td(width="10%" style="text-align: center")= modifier.value
          %td= modifier.description
          %td(width="10%" style="text-align: center")
            %a.icon.icon-edit{href:"#profiles/#{self.id}/modifiers/#{modifier.id}"}
              = t "hr.labels.edit"
            %a.icon.icon-del{href:"#profiles/#{self.id}/modifiers/#{modifier.id}/delete"}
              = t "hr.labels.delete"
  .box.tabular
    %p
      %label= t "hr.holiday_modifiers.value"
      %input(type="text" name="value" style="width: 99%")
    %p
      %label= t "hr.holiday_modifiers.description"
      %span
        %textarea.wiki-edit(name="description")
  %button(name="add_modifier")
    =t "hr.labels.add_modifier"

%div
  %h3
  %h4= t "activerecord.models.hr_employee_child.other"
  %table.list
    %thead
      %th= t("activerecord.attributes.hr_employee_child.name")
      %th= t("activerecord.attributes.hr_employee_child.birth_date")
      %th= t("activerecord.attributes.hr_employee_child.gender")
      %th= t("hr.labels.actions")
    %tbody
      - self.employee_children.each do |child|
        %tr
          %td(width="10%" style="text-align: center")= child.name
          %td(width="10%" style="text-align: center")= child.birth_date
          %td(width="10%" style="text-align: center")= child.gender
          %td(width="10%" style="text-align: center")
            %a.icon.icon-edit{href:"#profiles/#{self.id}/employee_children/#{child.id}"}
              = t "hr.labels.edit"
            %a.icon.icon-del{href:"#profiles/#{self.id}/employee_children/#{child.id}/delete"}
              = t "hr.labels.delete"
  .box.tabular
    %p
      %label= t "activerecord.attributes.hr_employee_child.name"
      %input(type="text" name="name" style="width: 99%")
    %p
      %label= t "activerecord.attributes.hr_employee_child.birth_date"
      %input{type:"date", name:"birth_date"}
    %p
      %label= t "activerecord.attributes.hr_employee_child.gender"
      %select(name="gender")
        %option(value="male")= t("activerecord.attribute_values.hr_employee_child.gender.male")
        %option(value="female")= t("activerecord.attribute_values.hr_employee_child.gender.female")
  %button(name="add_child")
    =t "hr.labels.add_child"
