.contextual
  %a.icon.icon-edit(href="#profiles/#{self.id}/edit")= t("hr.labels.update")
  %a.icon.icon-add(href="#profiles/#{self.id}/modifiers/new")= t("hr.labels.add_modifier")
  %a.icon.icon-add(href="#profiles/#{self.id}/employee_children/new")= t("hr.labels.add_child")
%h2
  = t "hr.employee_profile.title"
  = " - #{self.name}"
  - if self.administrator
    = "(#{t('hr.employee_profile.administrator')})"
.issue
  %table.attributes
    %tr
      %th= t("hr.employee_profile.birth_date")
      %td= birth_date
      %th= t("hr.employee_profile.employment_date")
      %td= employment_date
    %tr
      %th= t("hr.employee_profile.gender")
      %td= gender
  %hr
  %table.attributes
    %tr
      %th= t("hr.employee_profile.holiday_counts.count")
      %td= profile_info[:holiday_count]
      %th= t("hr.employee_profile.holiday_counts.requested")
      %td= profile_info[:requested]
    %tr
      %th= t("hr.employee_profile.holiday_counts.unused")
      %td= profile_info[:unused]
      %th= t("hr.employee_profile.holiday_counts.approved")
      %td= profile_info[:approved]
    %tr
      %th= t("hr.employee_profile.holiday_counts.unused_planned")
      %td= profile_info[:unused_planned]
      %th= t("hr.employee_profile.holiday_counts.planned")
      %td= profile_info[:planned]
%div
  %h3
  %h4= t "hr.holiday_modifiers.title"
  %table.list
    %thead
      %th= t("hr.holiday_modifiers.year")
      %th= t("hr.holiday_modifiers.value")
      %th= t("hr.holiday_modifiers.description")
      %th= t("hr.labels.actions")
    %tbody
      - self.holiday_modifiers.each do |modifier|
        %tr
          %td(width="10%" style="text-align: center")= modifier.year
          %td(width="10%" style="text-align: center")= modifier.value
          %td= modifier.description
          %td(width="10%" style="text-align: center")
            %a.icon.icon-edit{href:"#profiles/#{self.id}/modifiers/#{modifier.id}"}
              = t "hr.labels.edit"
            %a.icon.icon-del{href:"#profiles/#{self.id}/modifiers/#{modifier.id}/delete"}
              = t "hr.labels.delete"
%div
  %h3
  %h4= t "activerecord.models.hr_employee_child.other"
  %table.list
    %thead
      %th= t("activerecord.attributes.hr_employee_child.name")
      %th= t("activerecord.attributes.hr_employee_child.birth_date")
      %th= t("activerecord.attributes.hr_employee_child.gender")
      %th= t("hr.labels.actions")
    %tbody
      - self.employee_children.each do |child|
        %tr
          %td(width="10%" style="text-align: center")= child.name
          %td(width="10%" style="text-align: center")= child.birth_date
          %td(width="10%" style="text-align: center")= child.gender
          %td(width="10%" style="text-align: center")
            %a.icon.icon-edit{href:"#profiles/#{self.id}/employee_children/#{child.id}"}
              = t "hr.labels.edit"
            %a.icon.icon-del{href:"#profiles/#{self.id}/employee_children/#{child.id}/delete"}
              = t "hr.labels.delete"
